@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #252426;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5540af;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f9e71c;
}

html {
  @apply font-body antialiased;
  scroll-behavior: smooth
}

#header {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to bottom, #5440afc8 60%, #9f92dbfd), url('./assets/bg-hero.webp');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#intro {
  font-family: 'Open sans', sans-serif;
}

#resume {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(#9f92db5d, #e1e1e1);
}

#courses {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to bottom, #f1f1f1a5, #f1f1f1a5), url('./assets/bg-cta.webp');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#portfolio {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(#9f92db5d, #e1e1e1);
}

#contact {
  font-family: 'Raleway', sans-serif;
  min-height: 80vh;
  background-image: linear-gradient(to bottom, #9f92db85, #f1f1f1), url('./assets/bg-contact.webp');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


@media screen and (min-width: 768px) {
  #skillsLink:hover #skills {
    transition: all .2s linear;
    opacity: 100
  }
}

.st0 {
  fill: #007acc
}

.st1 {
  fill: #fff
}